
<div class="site-form-inline">
    <form action="/login" method="post">
        <label for="">username</label>
        <input type="text" name="username">

        <label for="">password</label>
        <input type="password" name="password">
        <button>login</button>
    </form>
</div>

<p><%=statement%></p>

<h3><a href="/user/new">create an account</a></h3>