<h2>login</h2>

<form action="/login" method="post">
    <label for="">username</label>
    <input type="text" name="username">

    <label for="">password</label>
    <input type="password" name="password">
    <button>login</button>
</form>

<p><%=statement%></p>

<a href="/user/new">create an account</a>