<div class="sites-index">
    <h2>dive sites</h2>

    <div class="home-card">
        <% for (let site of sites) { %>
            <p id="site-link">
                <a href="/sites/<%=site.id%>">
                    &bull;&nbsp; <%= site.name %>&nbsp;&bull;</a>
            </p>

    <% } %>
    </div>

    <div class="site-form">
        <h2>add a dive site</h2>
            <form class ="site-form-inline" action="/sites" method="post">
                <label for="">Site</label>
                <input type="text" name="name">

                <label for="">Location</label>
                <input type="text" name="location">
                <button>add a site</button>
            </form>
    </div>
</div>

