 
<h2 id="users-header">divers</h2>

<div class="users-flex-container">
    <% for (let user of users) { %>
        <div class="user-card">
            <p>
                <a href="/users/<%=user.id%>"><%=user.username%></a>
            </p>
            <img src="/blank-profile-picture-973460_640.png" alt="">
            
        </div>    
    <% } %>
</div>
